@import url('https://fonts.googleapis.com/css?family=Cinzel');

/* html {
    font-size: 1rem;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 1.2rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 1.4rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1.6rem;
    }
} */

body {
    background-color: #443344;
    color: #ffffff;
    margin: 0 auto;
    letter-spacing: 2px;
}

.textCinzel {
    font-family: 'Cinzel', serif;
}

hr {
    border: dotted 1px antiquewhite;
}

hr {
    width: 100%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FF0066;
    color: #FF0066;
    border: 0 none;
    margin-top: 5px;
    margin-bottom: 5px;
}


/*
.timer-p {
  margin-top: 40px;
	font-size: 24px;
}

.timer {
	font-size: 30px;
}
*/


/*




.answer:hover {
  background: pink;
}

.answer {
  padding-top: 7px;
  height: 45px;
  color: black;
  padding-left: 14px;
  background-color: white;
  border-radius: 4px;
}

.img-wrong {
  margin-top: 40px;
}

.first-answer {
  margin-top: 40px;
}

.reset-button {
  margin-top: 40px;
}

.summary-correct {
  margin-top: 40px;
}
*/